@model IEnumerable<Turnos.Models.Especialidad>

<!DOCTYPE html>

<html lang="en" xml:lang="en">

<head>
    <title>Especialidades</title>
</head>

<body>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Descripccion)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*aqui se colocara el codigo de la tabla para mostrar la information de la base de datos*@
                @foreach (var item in collection)
                {

                }
                <td>
                    Traumatologo
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</body>




</html>