@model IEnumerable<Turnos.Models.Especialidad>


<table>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descripccion)
            </th>
        </tr>
    </thead>
    <tbody>

        @*aqui se colocara el codigo de la tabla para mostrar la information de la base de datos*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a>
                    <a asp-action="Delect" asp-route-id="@item.IdEspecialidad">eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>
